.Content{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
    width: 50%;
}
@media screen and (max-width: 480px) {
    .Content {
        font-size: 18px;
        width: 75%;
    }
}
