.Card{
    display: flex;
    flex-direction: column-reverse;
    width: 200px;
    height: 300px;
    text-align: center;
    background-color: deepskyblue;
    border: 1px solid;
}
.CardBook{
    width: 100%;
    height: 94%;
}