.Header{
    display: flex;
    justify-content: space-between;
    height: 45px;
    background-color:  #3D1313;
    padding: 10px 0;
}
.Navigation{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    text-indent: 20px;
    background-color:  #3D1313;
    font-weight: 600;
    font-size: 24px;
}
.Navigation div:hover{
    color: #AF7B7B	;
}
@media screen and (max-width: 480px) {
    .Header {
        height: auto;
    }
    .Navigation{
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .Navigation a{
        padding: 15px 0;
        width: 100%;
        text-align: center;
    }
}